.box {
    margin-top: 180px;
    text-align: center;
}

body {
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-position: center center;
    color: white !important;
    font-size: 16px;
    letter-spacing: 0.1em;
}